%h1 Editing User
= form_for(@user) do |f|
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message
  .field
    %label{:for => "user_name"} Name
    %br
      %input#user_name{:name => "user[name]", :type => "text", :value => @user.name}
  .field
    %label{:for => "user_last_name"} Last name
    %br
      %input#user_last_name{:name => "user[last_name]", :type => "text", :value => @user.last_name}
  .field
    %label{:for => "user_birthdate"} Birthdate
    %br
      = f.date_select :birthdate, start_year: 1900, end_year: 2016
  .field
    %label{:for => "user_gender"} Gender
    %br
      = f.select :gender, options_for_select(User.genders.keys)
  .actions
    %input{:name => "commit", :type => "submit", :value => "Edit User"}
%a{:href => "/users/#{@user.id}"} Show
|
%a{:href => "/users/"} Back
