%h1 New User
= form_for(@user) do |f|
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'

  .form-group
    = f.label :last_name
    = f.text_field :last_name, class: 'form-control'

  .form-group
    = f.label :dni, "DNI"
    = f.number_field :dni, class: 'form-control'

  .form-group
    = f.label :birthdate
    = f.date_field :birthdate, class: 'form-control'

  .form-group
    = f.label :gender
    = f.select :gender, options_for_select(User.genders.keys), html_options: {class: "form-control"}

    = f.fields_for :pets do |pet_form|
      .form-group
        = pet_form.label :name, 'Pet Name'
        = pet_form.text_field :name, class: 'form-control'
  .actions
    = f.submit class: 'btn btn-block btn-primary'

= link_to 'Back', users_path, class: 'btn btn-block btn-warning'
